.explanation {
  padding: 0;
  margin: 0;
  &__title {
    font-size: 5rem;
  }
  &__slogan {
    font-size: 1.5rem;
    margin: 0.3rem 0 0.8rem;
    color: #999;
  }
  &__paragraph {
    line-height: 1.5;
    letter-spacing: 0.8px;
    font-weight: 500;
  }
}
