.header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  // place-content: center;
  // place-items: center;
  align-items: center;
  &__background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__title {
    margin-top: -2.5rem;
    font-size: 5rem;
    font-weight: 900;
    -webkit-text-stroke: 1.5px white;
  }
  &__slogan {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 600;
    -webkit-text-stroke: 0.5px white;
  }
  &__cta {
    margin-right: 1rem !important;
  }
}
