.landing {
  &__about {
    margin: 2rem 0;
    display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: auto auto auto;
    grid-template-areas: 'first first' 'second last';
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    // display: flex;
    justify-content: stretch;
    align-items: stretch;
    // flex-wrap: wrap;
  }
}
