.testimonial {
  padding: 4rem;
  display: flex;
  place-content: center;
  place-items: center;
  background: #fdeec3;
  border-radius: 5px;
  &__avatar {
    width: 35rem;
    // height: 10rem;
    // background: #731116;
    margin: 0 7rem 0 -7rem;
  }
  &__description {
    &__author {
      font-size: 1.4rem;
      font-weight: 800;
      &--description {
        font-size: 1rem;
        font-weight: 600;
        margin: 0.3rem 0 0.5rem;
      }
    }
    &__paragraph {
      line-height: 1.5;
      letter-spacing: 0.8;
    }
  }
}
