@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  cursor: context-menu;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.section {
  padding: 7rem 10vw;
  min-height: 100vh;
  background: #eee;
}
.admin-section {
  padding: 7rem 10vw;
  min-height: 100vh;
  background: #eee;
}

@media screen and (max-width: 1200px) {
  .section {
    padding: 5rem 5vw;
  }
  .admin-section {
    padding: 5rem 5vw;
  }
}
// @media screen and (max-width: 1000px) {
//   .section {
//     padding: 6rem 4vw;
//   }
// }

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #dfa558;
}

::-webkit-scrollbar-thumb:hover {
  background: #fee7a6;
}

::selection {
  background: #731116;
  color: #eee;
}
