.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    &.readMore {
      margin-bottom: 0;
      &:first-child {
        grid-area: first;
      }
      &:nth-child(2) {
        grid-area: second;
      }
      &:last-child {
        grid-area: last;
      }
    }
  }
  &__team {
    margin-bottom: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__heading {
      font-size: 2.5rem;
      letter-spacing: 1.5px;
      margin-bottom: 1.5rem;
      text-decoration: underline;
    }
    &__flex {
      display: flex;
      margin-bottom: 2rem;
    }
    &__title {
      font-size: 1.5rem;
      letter-spacing: 1.3px;
      margin-bottom: 1rem;
    }
    &__grid {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 1.5rem;
      margin-bottom: 2rem;
      justify-content: flex-start;
      align-items: flex-start;
      &__member {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border: 4px solid black;
        border-radius: 5px;
        background: black;
        &__image {
          width: 100%;
          height: 100%;
          // border-radius: 5px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}
