.blog {
  display: flexd;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  // grid-gap: 1.5rem;
  // place-content: center;
  // place-items: center;
  &__post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #888;
    flex-direction: column;
    width: 50%;
    border-radius: 10px;
    .column {
    }
    .row {
      flex-direction: row;
    }
    &__header {
      position: relative;
      width: 100%;
      padding: 2rem 1rem 2rem 5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-start;
      &__avatar {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: brown;
        display: grid;
        place-content: center;
        place-items: center;
        overflow: hidden;
        &__image {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    &__media {
      width: 100%;
      &__image {
        width: 100%;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 2rem 1rem 0.5rem;
      &__description {
        margin-bottom: 2rem;
      }
    }
  }
}
