.contact {
  &--description {
    margin-top: 1.5rem;

    > p {
      margin-top: 0.5rem;
      font-size: 1.45rem;
      word-spacing: 5px;
      line-height: 1.5;
    }
  }
  &--book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
    &__tabs {
      width: 70%;
      display: flex;
      flex-direction: column;
      margin-right: 3rem;
    }
    &__form {
      padding: 1rem;
      background: rgb(229, 228, 228);
    }
  }
  &--details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
    &__map {
      width: 60%;
      margin-left: 3rem;
      > img {
        width: 100%;
      }
    }
  }
}
