.footer {
  padding: 3rem 10vw 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  &--gridArea {
    width: 100%;
    display: grid;
    grid-template-areas:
      'contact downloads'
      'contact disclaimer';
    grid-gap: 1.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  &--grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__contact {
    margin-right: 3rem;
    grid-area: contact;
    &__title {
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
    }
    &__list {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
      &__item {
        margin: 0.5rem 0;
        > a {
          font-size: 0.9rem;
        }
        &__link {
          transform: translateX(-0.5rem);
          padding: 0.5rem;
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          border-radius: 5px;
          width: fit-content;
          &:hover {
            background: #731116;
            color: white;
          }
          &__icon {
            margin-right: 10px;
          }
          &.download {
            position: relative;
            padding: 0;
            transform: translateX(0);
            &::after {
              content: '';
              position: absolute;
              bottom: -5px;
              left: 0;
              width: 0;
              height: 0.125rem;
              background: #731116;
              transition: width 0.8s cubic-bezier(0.42, 0, 0.6, 1.52);
            }
            &:hover {
              background: none;
              color: black;
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  &__downloads {
    display: flex;
    grid-area: downloads;
    &__disclaimer {
      grid-area: disclaimer;
      width: 100%;
    }
    &__list {
      margin-bottom: 1rem;
      margin-right: 1.5rem;
      &:last-child {
        margin-bottom: 0;
      }
      &__item {
        margin: 0.5rem 0;
        &__title {
          margin-bottom: 1rem;
          font-size: 1.1rem;
        }
        &__link {
          font-size: 0.9rem;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 0.125rem;
            background: #731116;
            transition: width 0.8s cubic-bezier(0.42, 0, 0.6, 1.52);
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &__logo {
    width: 80%;
    padding-top: 1.5rem;
    &:nth-last-child(3),
    &:last-child {
      width: 70%;
    }
    &__image {
      width: 100%;
      object-fit: cover !important;
      transition: transform 0.5s ease, box-shadow 0.5s ease;
      &:hover {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
        transform: translate(-2px, -2px) scale(1.02);
      }
    }
    &__caption {
      margin-bottom: 0.5rem;
    }
  }

  &__copyright {
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 1200px) {
  .footer {
    padding: 3rem 5vw 1rem;
  }
}
@media screen and (max-width: 858px) {
  .footer {
    padding: 3rem 5vw 1rem;
    &--gridArea {
      grid-template-areas:
        'contact'
        'downloads' 'disclaimer';
    }
    &--grid {
      grid-template-columns: repeat(2, 1fr);
    }
    &__contact {
      display: flex;
      margin-right: 0;
    }
    &__logo {
      width: 90%;
      padding-top: 0;
      &:nth-last-child(3),
      &:last-child {
        width: 90%;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .footer {
    &--columns {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &--grid {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
    }
    &__downloads {
      margin-bottom: 1rem;
      &__list {
        margin-bottom: 0.8rem;
        &__item {
          margin: 0.45rem 0;
          &__title {
            margin-bottom: 0.3rem;
            font-size: 1.1rem;
            &:last-child {
              margin-top: 1.5rem;
            }
          }
          &__link::after {
            width: 100%;
            transition: none;
          }
        }
      }
    }
    &__contact {
      margin-right: 0;
      margin-bottom: 2rem;
      &__list {
        margin-bottom: 0.8rem;
        &__item {
          > a {
            font-size: 0.8rem;
          }
          &__link {
            background: #731116;
            color: white;
            &.download {
              background: none;
              color: black;
              &::after {
                width: 100%;
                transition: none;
              }
            }
          }
        }
      }
    }
    &__logo {
      width: 100%;
      padding-top: 0;
      &:nth-last-child(3),
      &:last-child {
        width: 100%;
      }
      &:nth-last-child(2) {
        padding-top: 0.5rem;
      }
    }
  }
}
