.navbar {
  background: rgba(277, 277, 277, 0.5) !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 0.5rem 2rem;
  &__logo {
    width: 10rem;
    padding: 0;
    margin: 0;
    display: flex;
    place-content: center;
    > img {
      width: 100%;
    }
  }
  &__link {
    margin: 0 1rem !important;
    &.key {
      margin: 0 1rem 0 2rem !important;
    } 
  }
}
