.satrix {
  place-self: center;
  &__title {
    font-size: 2rem;
    font-weight: 800;
  }
  &__section {
    margin: 3rem 0;
    padding: 1.5rem;
    position: relative;
    &:hover .satrix__section__line.left--top,
    &:hover .satrix__section__line.right--top,
    &:hover .satrix__section__line.right--bottom,
    &:hover .satrix__section__line.left--bottom {
      height: 100%;
    }
    &:hover .satrix__section__line.top--left,
    &:hover .satrix__section__line.top--right,
    &:hover .satrix__section__line.bottom--right,
    &:hover .satrix__section__line.bottom--left {
      width: 100%;
    }

    &__line {
      position: absolute;
      background: #731116;

      &.left--top {
        top: 0;
        left: 0;
        width: 2px;
        height: 5rem;
        transition: height 0.5s ease-in-out;
      }
      &.top--left {
        top: 0;
        left: 0;
        width: 5rem;
        height: 2px;
        transition: width 0.5s ease-in-out;
      }
      &.top--right {
        top: 0;
        right: 0;
        width: 5rem;
        height: 2px;
        transition: width 0.5s ease-in-out;
      }
      &.right--top {
        top: 0;
        right: 0;
        width: 2px;
        height: 5rem;
        transition: height 0.5s ease-in-out;
      }
      &.right--bottom {
        bottom: 0;
        right: 0;
        width: 2px;
        height: 5rem;
        transition: height 0.5s ease-in-out;
      }
      &.bottom--right {
        bottom: 0;
        right: 0;
        width: 5rem;
        height: 2px;
        transition: width 0.5s ease-in-out;
      }
      &.bottom--left {
        bottom: 0;
        left: 0;
        width: 5rem;
        height: 2px;
        transition: width 0.5s ease-in-out;
      }
      &.left--bottom {
        bottom: 0;
        left: 0;
        width: 2px;
        height: 5rem;
        transition: height 0.5s ease-in-out;
      }
    }
    &__title {
      font-size: 1.5rem;
      letter-spacing: 1px;
      margin-bottom: 1rem;
    }
    &__paragraph {
      font-size: 1.1rem;
      letter-spacing: 0.8px;
      line-height: 1;
      &__link {
        font-weight: 500;
        transform: font-weight 0.4s ease;
        &:hover {
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
      }
    }
    &__list {
      list-style-type: decimal;
      list-style-position: inside;
      margin: 2rem 0 2rem 1rem;
      &__title {
        font-size: 1.3rem;
        letter-spacing: 1px;
        margin-bottom: 0.5rem;
      }
      &__item {
        font-size: 1.1rem;
        letter-spacing: 0.8px;
        line-height: 1;
        margin-bottom: 1rem;
        width: fit-content;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -7px;
          left: 0;
          width: 100%;
          height: 2px;
          background: #731116;
          background-size: cover;

          // transition: width 1s cubic-bezier(0.42, 0, 0.25, 1.33);
        }
        &:hover {
          &::after {
            animation: lineAnimation 1.5s ease-in-out;
            // width: 105%;
          }
        }
      }
    }
  }
}
@keyframes lineAnimation {
  0% {
    width: 100%;
  }
  25% {
    width: 110%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 110%;
  }
  100% {
    width: 100%;
  }
}
