.services {
  &--about {
    margin: 1.5rem 0 0.5rem;
    &__offer {
      font-size: 1.4rem;
      letter-spacing: 1px;
      line-height: 1.3;
    }
    &__goals {
      background: #ccc !important;
      margin: 2rem 0 !important;
      padding: 1.5rem !important;
      &__title {
        font-size: 1.5rem !important;
        font-weight: 600 !important;
      }
    }
    &__how {
      font-size: 1.2rem;
      letter-spacing: 1px;
      line-height: 1.3;
      font-weight: 600;
      margin: 2rem 0 1rem;
    }
  }
  &--cards {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'one one three three'
      'two two four four';
    align-items: stretch;
    justify-content: stretch;
    grid-column-gap: 1rem;
    &__card {
      width: 100%;
      background: #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      &.invert {
        flex-direction: row-reverse;
      }
      &.one {
        grid-area: one;
      }
      &.two {
        grid-area: two;
      }
      &.three {
        grid-area: three;
      }
      &.four {
        grid-area: four;
      }
      &__left {
        width: 50%;
        padding: 2rem;
        display: grid;
        place-content: center;
        place-items: center;
        background: #aaa;
        &__icon {
          width: 10rem;
          height: 10rem;
        }
      }
      &__right {
        width: 50%;
        padding: 2rem;
        display: grid;
        place-items: center;
        place-content: center;
        text-align: center;
        &__title {
          font-size: 2.2rem;
          font-weight: 800;
          // line-height: 1;
        }
        &__cta {
          font-weight: 700 !important;
          font-size: 1.5rem !important;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .services {
    &__card {
      &__left {
        padding: 1.5rem;
        &__icon {
          width: 9rem;
          height: 9rem;
        }
      }
      &__right {
        padding: 1.5rem;
        &__title {
          font-size: 2rem;
        }
        &__cta {
          font-weight: 600 !important;
          font-size: 1.3rem !important;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .services__card__right__title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 858px) {
  .services {
    grid-template-areas:
      'one one'
      'two two'
      'three three'
      'four four';
    &__card {
      &.two {
        margin-bottom: 1rem;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .services__card {
    &__left {
      padding: 1rem;
      &__icon {
        width: 6rem;
        height: 6rem;
      }
    }
    &__right {
      padding: 1rem;
      &__title {
        font-size: 1.6rem;
      }
      &__cta {
        font-size: 1.2rem !important;
      }
    }
  }
}
